@charset "utf-8";
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {

  font-weight: bold;
border-radius: 25%

}

/* user styles */

            /* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */

    :root {
      --header-image: url('https://sadhost.neocities.org/images/layouts/wp.jpeg');
      --body-bg-image: url('./computer_chip.jpeg');

  }

*/

  @font-face {
      font-family: Nunito;
      src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
  }

  @font-face {
      font-family: Nunito;
      src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
      font-weight: bold;
  }

  @font-face {
      font-family: Nunito;
      src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
      font-style: italic;
  }

  @font-face {
      font-family: Nunito;
      src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
      font-style: italic;
      font-weight: bold;
  }

  body {
      font-family: 'Nunito', sans-serif;
      margin: 0;
      background-color: #08031A;
      /* you can delete the line below if you'd prefer to not use an image */
      background-size: 65px;
      color: #fceaff;
      background-image: var(--body-bg-image);
  }

  * {
      box-sizing: border-box;
  }

  /* below this line is CSS for the layout */

  #container {
      max-width: 900px;
      margin: 0 auto;
      /* this centers the entire page */
  }

  /* links */
  #container a {
      color: #57C33C;
      font-weight: bold;
      /* if you want to remove the underline
you can add a line below here that says:
text-decoration:none; */

  }

  #header {
      width: 100%;
      background-color: #5e4e8c;
      /* header color here! */
      height: 150px;
      /* this is only for a background image! */
      /* if you want to put images IN the header, 
you can add them directly to the <div id="header"></div> element! */
      background-image: var(--header-image);
      background-size: 100%;
      
  }

  /* navigation section!! */
  #navbar {
      height: 40px;
      background-color: #13092D;
      /* navbar color */
      width: vw;
      margin-left: 10px;
      margin-right: 10px;
  }

  #navbar ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      justify-content: space-evenly;
  }

  #navbar li {
      padding-top: 10px;
  }

  /* navigation links*/
  #navbar li a {
      color:  #57C33C;
      /* navbar text color */
      font-weight: 800;
      text-decoration: none;
      /* this removes the underline */
  }

  /* navigation link when a link is hovered over */
  #navbar li a:hover {
      color: #a49cba;
      text-decoration: underline;
  }

  #flex {
      display: flex;
  }

  /* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
  aside {
      background-color: #C33C57;
      width: 200px;
      padding: 20px;
      font-size: smaller;
      margin: 10px;
  }


  /* this is the color of the main content area,
between the sidebars! */
  main {
      background-color: #3c57c3;
      flex: 1;
      padding: 20px;
      order: 2;
      margin-top: 10px;
      margin-bottom:10px;
      margin-right:10px
  }

  */ #leftSidebar {
      order: 1;
  }

  footer {
      background-color: #C3A83C;
      /* background color for footer */
      width: vw;
      height: 40px;
      padding: 10px;
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
      /* this centers the footer text */
  }

  h1,
  h2,
  h3 {
      color: #57C33C;
  }

  h1 {
      font-size: 25px;
  }

  strong {
      /* this styles bold text */
      color: #57C33C;
  }

  /* this is just a cool box, it's the darker colored one */
  .box {
      text-align: center;
      padding:20px;
  }


  /* CSS for extras */

  #topBar {
      width: 100%;
      height: 30px;
      padding: 10px;
      font-size: smaller;
      background-color: #13092D;
  }

.coffeeGif {
	text-align: center;
}


  /* BELOW THIS POINT IS MEDIA QUERY */

  /* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

  @media only screen and (max-width: 800px) {
      #flex {
          flex-wrap: wrap;
      }

      aside {
          width: 100%;
      }

      /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
      main {
          order: 1;
      }

      #leftSidebar {
          order: 2;
      }

      #navbar ul {
          flex-wrap: wrap;
      }
  }

/*CSS FOR SCROLLABLE CONTENT*/
.contentCard {
   background-color: #13092D;
   padding: 10px;
   margin-top: 5px;
}